<!DOCTYPE html>
<html lang="en">
<head>
    <title>La Cascada Restaurant</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/home.css">
</head>
<body>





<header>
    <div class="logo">La Cascada Restaurant</div>
    <nav>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('menu') }}">Menu</a></li>
        <li><a href="{{ url_for('reservation_page') }}">Reservation</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>
</nav>
</header>






<main>
<div class="home-background">
    <video autoplay muted loop playsinline class="bg-video">
        <source src="../static/misc/background-cooking.mp4" type="video/mp4">
    </video>
    <div class="hero-text">
        <h1>La Cascada Restaurant</h1>
        <p>A fine taste of elegance</p>
    </div>
</div>

<section class="content-area">
    <div class="content-overlay">
        <h1 class="top-tag">جرب ميضرش</h1>
        <p class="main-headline">مش أول مرة تاخد قرار غلط يعني</p>
        
        <div class="button-container">
            <button>حجز طاولة</button>
            <button>عرض القائمة</button>
        </div>
    </div>
</section>

</main>





<script>
    window.addEventListener('scroll', () => {
        if (window.scrollY > 100) { 
            document.body.classList.add('scrolled');
        } else {
            document.body.classList.remove('scrolled');
        }
    });
</script>



</body>
</html>