<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>La Cascada Restaurant</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <header>
            <h2>La Cascada Restaurant</h2>
           <nav>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('menu') }}">Menu</a></li>
        <li><a href="{{ url_for('reservation_page') }}">Reservation</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>
</nav>
        </header>
    </body>
</html>