<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Menu | La Cascada</title>

    <link rel="stylesheet" href="static\menu.css">

    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&display=swap" rel="stylesheet">

</head>

<body>



<header>

    <div class="logo">

        <div class="logo-text">

            <span class="main-title">La Cascada</span>

            <span class="sub-title">Restaurant</span>

        </div>

    </div>

<nav>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('menu') }}">Menu</a></li>
        <li><a href="{{ url_for('reservation_page') }}">Reservation</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>
</nav>

</header>



<main>

    <section class="menu-hero">

        <h1>Our Menu</h1>

        <div class="menu-links">

            <a href="#iftar-menu">IFTAR MENU</a>

            <a href="#suhoor-menu">SUHOOR MENU</a>

        </div>

    </section>



    <section class="menu-section" id="iftar-menu">

        <h2 class="section-title">IFTAR MENU</h2>

        <div class="category-links">

            <a href="#main-dishes">Main Dishes</a>

            <a href="#soup">Soup</a>

            <a href="#ramadan-drinks">Ramadan Drinks</a>

        </div>



        <div class="menu-group">

            <h3 id="main-dishes">Main Dishes</h3>

            <div class="grid">

                <div class="item">

                    <div class="img-container"><img src="static/images/file_00000000ef40720a9f85f6d7844a9627.png" alt="Mixed Grill"></div>

                    <h5>Mixed Grill</h5>

                    <p>(2 Kofta - 1 Shish Tawook - Grilled chicken breast)</p>

                    <span class="price">500 LE</span>

                </div>

                <div class="item">

                    <div class="img-container"><img src="static/images/file_00000000a1a8720a8c110a51990507f2.png" alt="Half Grilled chicken"></div>

                    <h5>Half Grilled chicken</h5>

                    <span class="price">400 LE</span>

                </div>

                <div class="item">

                    <div class="img-container"><img src="static/images/meatWithOnions.png" alt="Meat Taaine"></div>

                    <h5>Meat Taaine with Onions</h5>

                    <span class="price">450 LE</span>

                </div>

                <div class="item">

                    <div class="img-container"><img src="static/images/grillesKofta.png" alt="Kofta"></div>

                    <h5>Grilled Kofta Plate</h5>

                    <span class="price">400 LE</span>

                </div>

            </div>
            <center>
            <p class="note">All main dishes are served with: Rice + Green Salad</p>
            </center>
        </div>



        <div class="menu-group">

            <h3 id="soup">Soup</h3>

            <div class="grid">

                <div class="item">

                    <div class="img-container"><img src="static/images/orzo.png" alt="Orzo"></div>

                    <h5>Orzo Soup</h5>

                    <span class="price">55 LE</span>

                </div>

                <div class="item">

                    <div class="img-container"><img src="static/images/vegetavble.png" alt="Vegetable"></div>

                    <h5>Vegetable Soup</h5>

                    <span class="price">50 LE</span>

                </div>

            </div>

        </div>

    </section>



    <section class="menu-section" id="suhoor-menu">

        <h2 class="section-title">SUHOOR MENU</h2>

        <div class="category-links">

            <a href="#foul">Foul</a>

            <a href="#egg">Eggs</a>

            <a href="#yogurt">Yogurt</a>

        </div>

       

        <div class="menu-group">

            <h3 id="foul">Foul</h3>

            <div class="grid">

                <div class="item">

                    <div class="img-container"><img src="static/images/spicyFoul.png" alt="Spicy Foul"></div>

                    <h5>Spicy Foul with Oil</h5>

                    <span class="price">50 LE</span>

                </div>

                <div class="item">

                    <div class="img-container"><img src="static/images/butterFoul.png" alt="Butter Foul"></div>

                    <h5>Foul with Butter</h5>

                    <span class="price">50 LE</span>

                </div>

            </div>

        </div>

    </section>

</main>



</body>

</html>