<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <style>
    body{
         background-color: #000000;
          font-family: "Bitcount Prop Double Ink", system-ui;
          
    }
    h1{
 color:  #C8860A;
 font-size: 15vw;
    }


    </style>
</head>
<body>
    <h1 align="center">
      <b> Thanx for submiting see you soon</b> 
    </h1>

</body>
</html>